@font-face {
  font-family: ROMANSEX;
  src: url('/static/deco/fonts/ROMANSEX.ttf');
}

@font-face {
  font-family: PIXIE;
  src: url('/static/deco/fonts/PIXIE.TTF');
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
  font-family: ROMANSEX;
  background-color: #796be6;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 3s ease-in-out;
  background-image: url("/static/img/init.jpeg");
}

p, h1, h2, h3, h4, h5, h6, b, pre {
  margin: 0;
}

hr {
  border-radius: 3px;
  border: 1px solid #747a86;
}

input, select {
  color: black;
  border-radius: 3px;
  box-shadow: 5px 10px 18px black;
  padding: 5px;
  background-color: #8e8099;
  font-family: ROMANSEX;
  border: hidden;
  outline: none;
}

button {
  color: black;
  outline: none;
  font-family: ROMANSEX;
}

select {
  width: 40%;
}

summary {
  user-select: none;
  cursor: pointer;
}

pre {
  overflow-y: auto;
}

.center {
  margin: auto;
  text-align: center;
}

.wiki {
  color: black;
  opacity: 0.8;
  background-color: #b8b4ee;
  border-radius: 3px;
  width: 88%;
  height: 75%;
  box-shadow: 5px 10px 18px black;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}

.op-btn {
  width: 45%;
  padding: 5px;
  background-color: #dacfe3;
  border-radius: 3px;
  box-shadow: 5px 10px 18px black;
  font-size: 3vw;
}

.op-btn:hover {
  background-color: #e8cfff;
}

.large {
  font-size: 8vw;
  text-shadow: 2px 2px 5px #262626;
}

.white {
  color: #ffeddf;
}

.header {
  font-size: 2vw;
}

.inter {
  font-size: 1.5vw;
}

.arial {
  font-family: PIXIE;
}

.title-marker {
  display: none;
}

.false-link {
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
}

.fifty {
  width: 50%;
}

#wiki-create, #wiki-browse, #wiki-stuff, #wiki-edit-place, #style-guide {
  display: none;
}

#editing-area {
  resize: none;
  width: 90%;
  height: 75%;
  font-size: 2vw;
  font-family: PIXIE;
}